@use '../base/variables' as vars;
@use '../base/mixins' as mixins;

.section + .section {
  border-top: 1px solid vars.$color-border;
}

@include mixins.respond-to(md) {
  .section + .section {
    border-top: none;
  }
}
