@use 'variables' as vars;

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: vars.$breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: vars.$breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: vars.$breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: vars.$breakpoint-xl) {
      @content;
    }
  }
}

@mixin focus-outline {
  outline: 2px solid vars.$color-brand;
  outline-offset: 3px;
}

@mixin button-reset {
  border: 0;
  padding: 0;
  background: none;
  font: inherit;
  color: inherit;
}

@mixin card-surface {
  background-color: vars.$color-surface;
  border-radius: vars.$radius-lg;
  border: 1px solid vars.$color-border;
  box-shadow: vars.$shadow-soft;
}

@mixin fade-up($distance: 16px) {
  opacity: 0;
  transform: translateY($distance);
  transition:
    opacity vars.$transition-duration-base vars.$transition-easing-standard,
    transform vars.$transition-duration-base vars.$transition-easing-standard;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}
