@use 'base/variables';
@use 'base/mixins';
@use 'base/reset';
@use 'base/typography';
@use 'base/utilities';

@use 'utils/animations';
@use 'utils/responsive';

@use 'layout/layout';
@use 'layout/header';
@use 'layout/footer';
@use 'layout/sections';

@use 'blocks/buttons';
@use 'blocks/hero';
@use 'blocks/about';
@use 'blocks/skills';
@use 'blocks/projects';
@use 'blocks/timeline';
@use 'blocks/contact';

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
