@import url(./blocks/header.css);
@import url(./blocks/nav.css);
@import url(./blocks/top-bar.css);

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

:root {
  /* Colors */
  --background-color-dark: #1d1d1d;
  --background-color-white: #ffffff;
  --bsckground-color-orange: #FFA500;

  --main-text-white: #F9FAF8;
  --secondary-text-white: #E5E7EB;
  --main-text-black: #1F2937;

  /* Typography */
  --main-text-size: 16px;
  --hero-main-text-size: 48px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/* #region header */
.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: #ffffff;
  background-color: #1d1d1d;
  border-radius: 30px;
  margin: 0 20rem 0 20rem;
  margin-top: 20px;
}

.menu__nav {
  flex: 1;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
}

.nav__link {
  color: #1d1d1d;
  text-decoration: none;
  font-size: 18px;
  color:antiquewhite;
}
/* #endregion */
/* #region hero */
.hero {
  margin-top: 25px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}

.hero__title {
  font-size: 55px;
}

.hero__buttons {
  margin-top: 20px;
}

.button {
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.button__project {
  background-color: orange;
  color: aliceblue;
  margin-right: 10px;
}
/* #endregion */
/* #region cards */
.offers {
  background-color: #1d1d1d;
}

.offers__text {
  text-align: center;
  color: aliceblue;
  padding: 70px 0 40px 0;
  margin: 0;
}

.offers__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px
}

.card {
  flex: 1;
  max-width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
}

.img {
  height: 70px;
  padding:0;
  margin: 10px 0 10px 0;
}

.hdr {
  margin: 0;
  background-color: aliceblue;
  color: black;
}
/* #endregion */